<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banner.user.mapper.CrcUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.banner.model.user.pojos.CrcUserInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="gender" property="gender" />
        <result column="school" property="school" />
        <result column="birth" property="birth" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, gender, school, birth, description
    </sql>

</mapper>
